@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Все роли";
}

<h2>Список ролей</h2>

@{
    if (Model.Any())
    {
        <a asp-controller="Administration" asp-action="CreateRole"
           class="btn btn-primary" style="width:auto">
            Создать роль
        </a>
        foreach (var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    ID роли: @role.Id
                </div>
                <div class="card-body">
                    <h5>Название: @role.Name</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <a class="btn btn-primary" asp-action="EditRole"
                           asp-controller="Administration" asp-route-id="@role.Id">
                            Изменить
                        </a>

                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                            <span>Вы действительно хотите удалить?</span>
                            <button type="submit" class="btn btn-danger" >Да</button>
                            <a href="#" class="btn btn-primary" 
                               onclick="confirmDelete('@role.Id', false)">Нет</a>
                            
                        </span>

                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@role.Id', true)">Удалить</a>
                        </span>
                    </form>
                </div>
            </div>

        }
    }
    else
    {

        <div class="card">
            <div class="card-header">
                Не было создано ролей
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Кнопка для создания роли
                </h5>
                <a asp-controller="Administration" asp-action="CreateRole"
                   class="btn btn-primary" style="width:auto">
                    Создать
                </a>
            </div>
        </div>
    }
}

@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}