@model PopularOutfitsVm


@{
    Layout = "_Statistics";
    ViewBag.Title = "популярные покупки";
}

<div class="row">
    <div class="com-md=3 col-md-offset-4">
        <h1>Список часто покупаемых товаров</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4" >
        <table class="table table-bordered table-striped" id="CartTable">
            <thead>
                <tr>
                    <th id="CartTh">
                    <sort-header return-url="@Model.ReturnUrl" action="PopularBuy" up="@Model.SortViewModel.Up" 
                                 current="@Model.SortViewModel.Current" property="@Model.SortViewModel.TitleSort">
                        Название
                    </sort-header>
                    </th>
                    <th id="CartTh">
                        <sort-header return-url="@Model.ReturnUrl" action="PopularBuy" up="@Model.SortViewModel.Up" 
                                 current="@Model.SortViewModel.Current" property="@Model.SortViewModel.PriceSort">
                            Куплен раз
                        </sort-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.OrderedOutfits)
                {
                    <tr>
                        <td id="CartTd">@o.Outfit.Title</td>
                        <td id="CartTd">@o.OutfitQuantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




